<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Работа суборганизации</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:insert="~{blocks/header.html :: header}"></header>
<h1>Работа суборганизации</h1>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Проект</th>
        <th>Организация</th>
        <th>Название</th>
        <th>Стоимость</th>
        <th>Дата начала</th>
        <th>Дата окончания</th>
        <th>Статус</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="el : ${worksubcontractors}">
        <td th:text="${el.id_worksubcontractor}"></td>
        <td th:text="${el.project.name}"></td>
        <td th:text="${el.subcontractor.name}"></td>
        <td th:text="${el.workname}"></td>
        <td th:text="${el.cost}"></td>
        <td th:text="${#dates.format(el.date_one, 'yyyy-MM-dd')}"></td>
        <td th:text="${#dates.format(el.date_two, 'yyyy-MM-dd')}"></td>
        <td th:text="${el.status} ? 'Завершен' : 'В разработке'"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
