<div th:fragment="header">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Проектная организация</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/employees">Сотрудники</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/departments">Отделы</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/equipments">Оборудование</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/projects">Проекты</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/contracts">Договоры</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/clients">Клиенты</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/subcontractors">Суб. организации</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/workemployees">Работа сотрудников</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/worksubcontractors">Работа суб. организации</a>
        </nav>
    </div>
</div>